# Files
*.pyc
*.sql

# Sublime
*.sublime-project
*.sublime-workspace

# Server
uwsgi_params
reload_uwsgi
*_uwsgi.ini
*_nginx.conf
error_nginx.log

# Django
manage.py
*/wsgi.py
*/_settings/secret.py

# South
*/migrations

# Static
*/internal
*/media
*/static/admin
*/static/django_extensions
*/static/.webassets-cache

# Xapian
search/xapian_index
